/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
body, html{
    background-image: linear-gradient(
        to right top,
        #d16ba5,
        #c777b9,
        #ba83ca,
        #aa8fd8,
        #9a9ae1,
        #8aa7ec,
        #79b3f4,
        #69bff8,
        #52cffe,
        #41dfff,
        #46eefa,
        #5ffbf1
      );

  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  /* box-sizing: border-box; */

  /* height:auto; */
  /* min-height: 100%; */
}


input, #notice, .input-group-text {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navbar {
  /* padding-top: 1em; */
  padding: 2em;
  color: white;
  margin-bottom: 0;
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

.navbar-brand {
    font-size: 2.5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h1{
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.container {
  max-width: 950px;
}

.search-form {
  display: block;
}

.search-form > form {
  display: flex;
  margin: 1rem;
}

.search-form > form > input[type="submit"] {
  margin-left: 5px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    background: none;
}

.btn-logout{
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    color: #FFFFFF;
}

.btn-search{
    background: #D16BA5;
    color: white;
}

.btn-newproduct{
    color: white !important;
    background-color:#051937 !important;
}


.button-1 {
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
.button-1:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 0, 0, 0.5), .125rem .125rem 1rem rgba(0, 0, 0, 0.5);
  }
.button-1:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 0, 0, 0.5), .125rem .125rem 1rem rgba(0, 0, 0, 0.5);
  } 

.button-edit{
    box-shadow: none;
    color: black;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.button-delete{
    box-shadow: none;
    background: #E44D26;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.button-back, .button-back:hover {
  color: white !important;
  background: #845EC2; 
  margin: auto;
}
.back-w{
  margin-top: 10px;
  width: 50%;
}

.button-sendfrom{
  display: block;
  width: 100%;
  color: white;
  background:#A8EB12;
  width: 60%;
  margin: auto;
}


table {
  
    font-size: 20px;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.table-borderless > :not(caption) > * > * {
    font-size: 17px;
    padding: 20px;
}

table{
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: red;
}




/* form edit create */
.form-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
  padding: 3em;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  background: #ffb347; 
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  
  background: linear-gradient(to right, #ffcc33, #ffb347); 
/*   
  background: #A8EB12; */

}


/* Authen */
.wrap-authen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
  
}

.wrap-authen > div{
  width: 40rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  border-radius: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.signin{
  background: #f2709c;  
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  
  background: linear-gradient(to right, #ff9472, #f2709c); 
}

.signup{
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5); 
  background: linear-gradient(to right, #ffd194, #70e1f5); 

}

.forgot{
  background: #F09819;  
  background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  
  background: linear-gradient(to right, #EDDE5D, #F09819); 
}

.wrap-authen h2{
  color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.actions{
  text-align: center;
  
}
.actions > .button-1{
  margin: auto;
  width: 20em;
  margin-bottom: 20px;
}

.rememberme{
  font-size: 1.1em;
  font-weight: 700;
  color: white;
}

.link{
  text-align: center;
  padding: 10px;
}

.link > a{
  display: block;
  font-size: 1.3em;
  font-weight:  900;
  /* color: black; */
}

.link > a:hover{
  color: white;
}


/* Modal */
.modal-content{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

tbody > tr > td{
  vertical-align: middle
}